/*-- Mobile Screen --*/
@media only screen and (max-width: 577px) {

    .navbarlist {
        display: block;
        background-color: #7a7a7a;
        height: 100vh;
        width: 0;
        overflow-x: hidden;
        right: -55px;
        top: 0;
        margin-top: 0px;
        padding-top: 90px;
        padding-left: 50px;
        position: fixed;
        transition: 0.3s;
    }

    .navbarlist li a {
        font-size: 15px;
        font-weight: 500;
        color: white;
    }
    

    .barclose i {
        font-size: 14px;
        position: absolute;
        top: 30px;
        right: 86px;
        background-color: #48b3e1;
        padding: 10px;
        color: white;
        display: block;
    }

    .mobile-navbar i {
        font-size: 17px;
        margin-top: 28px;
        color: #9b9b9b;
        display: block;
    }

    .footer-content {
        flex-direction: column;
    }

    .fbox1 {
        width: 100%;
        margin-bottom: -97px;
        margin-right: 0px;
        margin-top: 51px;
    }

    .fbox2 {
        width: 100%;
        margin-bottom: -34px;
    }

    .fbox3 {
        width: 100%;
    }

    .pc-laptop-screen {
        display: none;
    }

    .mobile-screen {
        display: inline-block;
    }

    /*.product-box-one {
        margin-top: -49px;
    }*/

    .product-emty-layar {
        margin-bottom: 43px;
    }

    .pffxareacontent {
        flex-direction: column;
    }

    .pleftsbox {
        width: 100%;
        margin-right: 0px;
    }

    .gallery-content {
        display: flex;
        flex-direction: column;
    }

    .gallery-content-box {
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0px;
    }

    .prightsbox {
        width: 100%;
    }

    .prightsbox h1 {
        margin-top: 30px;
    }

    .respmargin {
        margin-top: 150px;
    }
}

/*@media only screen and (max-width: 321px) {

    .respmargin {
        margin-top: 250px;
    }
}*/